@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 992px) {
  body.bloqueo-apertura-menu {
    overflow: hidden;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 300px;
  margin-left: 4rem;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .header .logo {
    width: 280px;
  }
}
@media screen and (max-width: 576px) {
  .header .logo {
    width: 240px;
    margin-left: 2rem;
  }
}
.header .titulo-oculto {
  display: none;
}
.header .menu ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-right: 4rem;
  margin-bottom: 0;
  font-weight: 300;
}
@media screen and (max-width: 992px) {
  .header .menu ul {
    flex-direction: column;
    align-items: end;
  }
}
.header .menu ul a {
  text-decoration: none;
  text-transform: uppercase;
  color: #54595e;
}
@media screen and (max-width: 992px) {
  .header .menu ul a {
    color: #fff;
  }
}
.header .menu ul a:hover {
  color: #cb2426;
}
@media screen and (max-width: 992px) {
  .header .menu ul a:hover {
    color: #f7f7f7;
  }
}
.header .abrir-menu,
.header .cerrar-menu {
  display: none;
}
@media screen and (max-width: 992px) {
  .header .abrir-menu,
  .header .cerrar-menu {
    display: block;
    margin-right: 4rem;
    border: 0;
    font-size: 1.5rem;
    background-color: transparent;
    color: #54595e;
    cursor: pointer;
  }
}
@media screen and (max-width: 992px) {
  .header .cerrar-menu {
    color: #f7f7f7;
  }
}
@media screen and (max-width: 992px) {
  .header .menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #861819;
    padding: 3rem 0rem 3rem 3rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 992px) {
  .header .menu.visible {
    opacity: 1;
    visibility: visible;
  }
}

.bloque-uno {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bill-oxford-OXGhu60NwxU-unsplash-scaled.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .bloque-uno {
    height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .bloque-uno {
    height: 300px;
  }
}
.bloque-uno p {
  color: #fff;
  font-size: 3rem;
}
@media screen and (max-width: 992px) {
  .bloque-uno p {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-uno p {
    font-size: 1.4rem;
  }
}
.bloque-uno div {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .bloque-uno div {
    flex-direction: column;
    gap: 0rem;
    text-align: center;
  }
}
.bloque-uno a {
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 992px) {
  .bloque-uno a {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-uno a {
    font-size: 0.8rem;
  }
}
.bloque-uno .btn-bloque-uno {
  background-color: #54595e;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 992px) {
  .bloque-uno .btn-bloque-uno {
    padding: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-uno .btn-bloque-uno {
    margin-top: 1rem;
    padding: 0.6rem;
  }
}

.bloque-dos {
  text-align: center;
  margin: 4rem 0;
}
@media screen and (max-width: 992px) {
  .bloque-dos {
    margin: 3.5rem 0;
    padding: 0 3.5rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-dos {
    margin: 3rem 0;
    padding: 0 3rem;
  }
}
.bloque-dos h2 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2rem;
}
@media screen and (max-width: 992px) {
  .bloque-dos h2 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-dos h2 {
    font-size: 1.5rem;
  }
}
.bloque-dos p {
  color: #7a7a7a;
}
@media screen and (max-width: 576px) {
  .bloque-dos p {
    font-size: 0.9rem;
  }
}
.bloque-dos a {
  text-decoration: none;
  color: #fff;
}
.bloque-dos .asesoria-legal-integral {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .bloque-dos .asesoria-legal-integral {
    flex-direction: column;
    align-items: center;
  }
}
.bloque-dos .asesoria-legal-integral div {
  width: 20rem;
}
@media screen and (max-width: 992px) {
  .bloque-dos .asesoria-legal-integral div {
    width: 19rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-dos .asesoria-legal-integral div {
    width: 18rem;
  }
}
.bloque-dos .asesoria-legal-integral h3 {
  font-weight: 400;
  font-size: 1.4rem;
}
@media screen and (max-width: 992px) {
  .bloque-dos .asesoria-legal-integral h3 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-dos .asesoria-legal-integral h3 {
    font-size: 1.2rem;
  }
}
.bloque-dos .asesoria-legal-integral .caja-icono {
  padding: 1rem;
  font-size: 3rem;
}
@media screen and (max-width: 992px) {
  .bloque-dos .asesoria-legal-integral .caja-icono {
    font-size: 2.9rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-dos .asesoria-legal-integral .caja-icono {
    font-size: 2.8rem;
  }
}
.bloque-dos .asesoria-legal-integral .btn-bloque-dos {
  background-color: #54595e;
  padding: 1rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 992px) {
  .bloque-dos .asesoria-legal-integral .btn-bloque-dos {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-dos .asesoria-legal-integral .btn-bloque-dos {
    font-size: 0.8rem;
  }
}

.bloque-tres {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/thomas-martinsen-4H9IuFBIpYM-unsplash-scaled.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  padding: 0 10rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  text-align: center;
}
@media screen and (max-width: 992px) {
  .bloque-tres {
    height: 280px;
    padding: 0 4rem;
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-tres {
    height: 260px;
    padding: 0 3rem;
    font-size: 1.3rem;
  }
}

.bloque-cuatro {
  text-align: center;
  margin: 4rem 0;
  padding: 0 10rem;
}
@media screen and (max-width: 992px) {
  .bloque-cuatro {
    margin: 3.5rem 0;
    padding: 0 3.5rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-cuatro {
    margin: 3rem 0;
    padding: 0 3rem;
  }
}
.bloque-cuatro p {
  color: #7a7a7a;
}
.bloque-cuatro a {
  text-decoration: none;
  color: #fff;
}
.bloque-cuatro .somos {
  font-size: 1.6rem;
  font-weight: 300;
  color: #7a7a7a;
}
@media screen and (max-width: 992px) {
  .bloque-cuatro .somos {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-cuatro .somos {
    font-size: 1.2rem;
  }
}
.bloque-cuatro .asesoria-legal-integral {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .bloque-cuatro .asesoria-legal-integral {
    flex-direction: column;
    align-items: center;
  }
}
.bloque-cuatro .asesoria-legal-integral div {
  width: 20rem;
}
@media screen and (max-width: 992px) {
  .bloque-cuatro .asesoria-legal-integral div {
    width: 19rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-cuatro .asesoria-legal-integral div {
    width: 18rem;
  }
}
.bloque-cuatro .asesoria-legal-integral h3 {
  font-weight: 400;
  font-size: 1.4rem;
}
@media screen and (max-width: 992px) {
  .bloque-cuatro .asesoria-legal-integral h3 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-cuatro .asesoria-legal-integral h3 {
    font-size: 1.2rem;
  }
}
.bloque-cuatro .asesoria-legal-integral .caja-icono {
  padding: 1rem;
  font-size: 3rem;
}
@media screen and (max-width: 992px) {
  .bloque-cuatro .asesoria-legal-integral .caja-icono {
    font-size: 2.9rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-cuatro .asesoria-legal-integral .caja-icono {
    font-size: 2.8rem;
  }
}
.bloque-cuatro .asesoria-legal-integral .btn-bloque-dos {
  background-color: #54595e;
  padding: 1rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 992px) {
  .bloque-cuatro .asesoria-legal-integral .btn-bloque-dos {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 576px) {
  .bloque-cuatro .asesoria-legal-integral .btn-bloque-dos {
    font-size: 0.8rem;
  }
}
.bloque-cuatro .asesoria-legal-integral .ovv-descripcion {
  margin-top: 1rem;
  font-size: 1rem;
  color: #7a7a7a;
}
@media screen and (max-width: 576px) {
  .bloque-cuatro .asesoria-legal-integral .ovv-descripcion {
    font-size: 0.9rem;
  }
}

.main-gris {
  background-color: #f7f7f7;
}
.main-gris .bloque-quienes-somos {
  text-align: center;
  padding: 4rem 10rem;
}
@media screen and (max-width: 992px) {
  .main-gris .bloque-quienes-somos {
    padding: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos {
    padding: 2rem;
  }
}
.main-gris .bloque-quienes-somos img {
  padding: 2rem 0;
}
@media screen and (max-width: 992px) {
  .main-gris .bloque-quienes-somos img {
    width: 100%;
  }
}
.main-gris .bloque-quienes-somos .titulo {
  font-size: 2.4rem;
  padding-bottom: 2rem;
  font-weight: 800;
}
@media screen and (max-width: 992px) {
  .main-gris .bloque-quienes-somos .titulo {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .titulo {
    font-size: 1.8rem;
  }
}
.main-gris .bloque-quienes-somos .somos {
  font-size: 1.6rem;
  font-weight: 300;
  color: #7a7a7a;
}
@media screen and (max-width: 992px) {
  .main-gris .bloque-quienes-somos .somos {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .somos {
    font-size: 1.2rem;
  }
}
.main-gris .bloque-quienes-somos .asesoria-legal-integral {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral {
    flex-direction: column;
    align-items: center;
  }
}
.main-gris .bloque-quienes-somos .asesoria-legal-integral div {
  width: 20rem;
}
@media screen and (max-width: 992px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral div {
    width: 19rem;
  }
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral div {
    width: 18rem;
  }
}
.main-gris .bloque-quienes-somos .asesoria-legal-integral h3 {
  font-weight: 400;
  font-size: 1.4rem;
}
@media screen and (max-width: 992px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral h3 {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral h3 {
    font-size: 1.2rem;
  }
}
.main-gris .bloque-quienes-somos .asesoria-legal-integral .caja-icono {
  padding: 1rem;
  font-size: 3rem;
}
@media screen and (max-width: 992px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral .caja-icono {
    font-size: 2.9rem;
  }
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral .caja-icono {
    font-size: 2.8rem;
  }
}
.main-gris .bloque-quienes-somos .asesoria-legal-integral .btn-bloque-dos {
  background-color: #54595e;
  padding: 1rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 992px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral .btn-bloque-dos {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral .btn-bloque-dos {
    font-size: 0.8rem;
  }
}
.main-gris .bloque-quienes-somos .asesoria-legal-integral .ovv-descripcion {
  margin-top: 1rem;
  font-size: 1rem;
  color: #7a7a7a;
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .asesoria-legal-integral .ovv-descripcion {
    font-size: 0.9rem;
  }
}
.main-gris .bloque-quienes-somos .caja-icono-servicios {
  margin-bottom: 2rem;
  padding: 2rem;
  font-size: 3rem;
  background-color: #861819;
  color: #fff;
}
.main-gris .bloque-quienes-somos .caja-icono-servicios h3 {
  font-weight: 400;
  font-size: 1.4rem;
}
.main-gris .bloque-quienes-somos .contenedor-contacto {
  display: flex;
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .contenedor-contacto {
    flex-direction: column;
  }
}
.main-gris .bloque-quienes-somos .contenedor-contacto .form {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .contenedor-contacto .form {
    width: 100%;
  }
}
.main-gris .bloque-quienes-somos .contenedor-contacto .form input {
  padding: 1rem;
}
.main-gris .bloque-quienes-somos .contenedor-contacto .form textarea {
  padding: 1rem;
}
.main-gris .bloque-quienes-somos .contenedor-contacto .bloques-contacto {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50%;
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .contenedor-contacto .bloques-contacto {
    width: 100%;
  }
}
.main-gris .bloque-quienes-somos .contenedor-contacto .bloques-contacto div {
  width: 20rem;
}
.main-gris .bloque-quienes-somos .contenedor-contacto .bloques-contacto h3 {
  font-weight: 400;
  font-size: 1.4rem;
}
.main-gris .bloque-quienes-somos .contenedor-contacto .bloques-contacto .caja-icono {
  padding: 1rem;
  font-size: 3rem;
}
.main-gris .bloque-quienes-somos .contenedor-contacto .bloques-contacto .caja-icono .ovv-descripcion {
  margin-top: 1rem;
  font-size: 1rem;
  color: #7a7a7a;
}
@media screen and (max-width: 576px) {
  .main-gris .bloque-quienes-somos .contenedor-contacto .bloques-contacto .caja-icono .ovv-descripcion {
    font-size: 0.9rem;
  }
}

.footer {
  background-color: #000;
  color: #fff;
}
.footer h3 {
  font-weight: 500;
  font-size: 1.6rem;
  padding-bottom: 0.8rem;
}
.footer li {
  margin-top: 1rem;
}
.footer p {
  text-align: center;
  padding: 2rem 0;
  margin-bottom: 0;
}
@media screen and (max-width: 576px) {
  .footer p {
    font-size: 0.9rem;
  }
}
.footer .pre-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .footer .pre-footer {
    flex-direction: column;
    margin-bottom: 4rem;
  }
}
.footer .pre-footer .iso {
  width: 150px;
  margin: 4rem 0;
}
@media screen and (max-width: 576px) {
  .footer .pre-footer .iso {
    width: 150px;
    margin: 4rem 0;
  }
}

/*# sourceMappingURL=main.css.map */
