@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 300px;
    margin-left: 4rem;
    display: flex;
    align-items: center;
}

.titulo-oculto {
    display: none;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 4rem;
    font-weight: 300;
}

.menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #54595e;
}

.menu a:hover {
    color: #cb2426;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

.bloque-uno {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bill-oxford-OXGhu60NwxU-unsplash-scaled.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloque-uno p {
    color: #fff;
    font-size: 3rem;
}

.bloque-uno div {
    display: flex;
    gap: 2rem;
}

.bloque-uno a {
    text-decoration: none;
    color: #fff;
}

.btn-bloque-uno {
    background-color: #54595e;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
}

.bloque-dos {
    text-align: center;
    margin: 4rem 0;
}

.bloque-dos h2 {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 2rem;
}

.bloque-dos p {
    color: #7a7a7a;
}

.bloque-dos a {
    text-decoration: none;
    color: #fff;
}

.asesoria-legal-integral {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.asesoria-legal-integral div {
    width: 20rem;
}

.asesoria-legal-integral h3 {
    font-weight: 400;
    font-size: 1.4rem;
}

.caja-icono {
    padding: 1rem;
    font-size: 3rem;
}

.btn-bloque-dos {
    background-color: #54595e;
    padding: 1rem;
    border-radius: .5rem;
}

.bloque-tres {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/thomas-martinsen-4H9IuFBIpYM-unsplash-scaled.jpg);
    background-size: cover;
    height: 300px;
    padding: 0 10rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    text-align: center;
}

.bloque-cuatro {
    text-align: center;
    margin: 4rem 0;
    padding: 0 10rem;
}

.bloque-cuatro p {
    color: #7a7a7a;
}

.bloque-cuatro a {
    text-decoration: none;
    color: #fff;
}

.somos {
    font-size: 1.6rem;
    font-weight: 300;
    color: #7a7a7a;
}

.ovv-descripcion {
    margin-top: 1rem;
    font-size: 1rem;
    color: #7a7a7a;
}

.footer {
    background-color: #000;
    color: #fff;
}

.footer h3 {
    font-weight: 500;
    font-size: 1.6rem;
    padding-bottom: .8rem;
}

.footer li {
    margin-top: 1rem;
}

.footer p {
    text-align: center;
    padding: 2rem 0;
}

.pre-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iso {
    width: 150px;
    margin: 4rem 0;
}

.main-gris {
    background-color: #f7f7f7;
}

.bloque-quienes-somos {
    text-align: center;
    padding: 4rem 10rem;
}

.bloque-quienes-somos img {
    padding: 2rem 0;
}

.titulo {
    font-size: 2.4rem;
    padding-bottom: 2rem;
}

.caja-icono-servicios {
    margin-bottom: 2rem;
    padding: 2rem;
    font-size: 3rem;
    background-color: #861819;
    color: #fff;
}

.caja-icono-servicios h3 {
    font-weight: 400;
    font-size: 1.4rem;
}

.contenedor-contacto {
    display: flex;
}

.form {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.form input {
    padding: 1rem;
}

.form textarea {
    padding: 1rem;
}

.bloques-contacto {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.bloques-contacto div {
    width: 20rem;
}

.bloques-contacto h3 {
    font-weight: 400;
    font-size: 1.4rem;
}

.caja-icono {
    padding: 1rem;
    font-size: 3rem;
}

@media screen and (max-width: 992px) {
    body.bloqueo-apertura-menu {
        overflow: hidden;
    }

    .logo {
        width: 280px;
    }

    .abrir-menu,
    .cerrar-menu {
        display: block;
        margin-right: 4rem;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        color: #54595e;
        cursor: pointer;
    }

    .cerrar-menu {
        color: #f7f7f7;
    }

    .menu {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #861819;
        padding: 3rem 0rem 3rem 3rem;
        box-shadow: 0 0 0 100vmax rgba(0,0,0,0.5);
    }

    .menu.visible {
        opacity: 1;
        visibility: visible;
    }

    .menu ul {
        flex-direction: column;
        align-items: end;
    }

    .menu a {
        color: #fff;
    }

    .menu a:hover {
        color: #f7f7f7;
    }

    .bloque-uno {
        height: 400px;
    }

    .bloque-uno p {
        font-size: 2.5rem;
    }

    .bloque-uno a {
        font-size: .9rem;
    }

    .btn-bloque-uno {
        padding: .8rem;
    }

    .bloque-dos {
        margin: 3.5rem 0;
        padding: 0 3.5rem;
    }

    .bloque-dos h2 {
        font-size: 1.8rem;
    }

    .asesoria-legal-integral div {
        width: 19rem;
    }
    
    .asesoria-legal-integral h3 {
        font-size: 1.3rem;
    }
    
    .caja-icono {
        font-size: 2.9rem;
    }

    .btn-bloque-dos {
        font-size: .9rem;
    }

    .bloque-tres {
        height: 280px;
        padding: 0 4rem;
        font-size: 1.6rem;
    }

    .bloque-cuatro {
        margin: 3.5rem 0;
        padding: 0 3.5rem;
    }

    .somos {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        width: 240px;
        margin-left: 2rem;
    }

    .bloque-uno {
        height: 300px;
    }

    .bloque-uno p {
        font-size: 1.4rem;
    }

    .bloque-uno div {
        flex-direction: column;
        gap: 0rem;
        text-align: center;
    }
    
    .bloque-uno a {
        font-size: .8rem;
    }

    .btn-bloque-uno {
        margin-top: 1rem;
        padding: .6rem;
    }

    .bloque-dos {
        margin: 3rem 0;
        padding: 0 3rem;
    }

    .bloque-dos h2 {
        font-size: 1.5rem;
    }

    .bloque-dos p {
        font-size: .9rem;
    }

    .asesoria-legal-integral {
        flex-direction: column;
        align-items: center;
    }

    .asesoria-legal-integral div {
        width: 18rem;
    }
    
    .asesoria-legal-integral h3 {
        font-size: 1.2rem;
    }
    
    .caja-icono {
        font-size: 2.8rem;
    }

    .btn-bloque-dos {
        font-size: .8rem;
    }

    .bloque-tres {
        height: 260px;
        padding: 0 3rem;
        font-size: 1.3rem;
    }

    .bloque-cuatro {
        margin: 3rem 0;
        padding: 0 3rem;
    }

    .somos {
        font-size: 1.2rem;
    }
    
    .ovv-descripcion {
        font-size: .9rem;
    }
    
    .footer p {
        font-size: .9rem;
    }
    
    .pre-footer {
        flex-direction: column;
        margin-bottom: 4rem;
    }
    
    .iso {
        width: 150px;
        margin: 4rem 0;
    }
}